{% extends 'base.html' %}

{% block title %}Ariticle {% endblock %}

{% block mycss %}
<link href="{{url_for('static',filename='blog_article.css')  }}" rel="stylesheet" >
{% endblock %}

{% block blog_title %}{{ post["title"] }}{% endblock %}

{% block blog_desc %}{% endblock %}


{% block blog_text %}
<div class="blog-post">
    {{post['body']|safe}}
</div><!-- /.blog-post -->
<div class="blog-article-bottom">
    <span>posted @ {{post['created']}} &nbsp; {{post['username']}}</span> 
    &nbsp;
    {%if g.user and g.user['id'] == post['author_id']%}
    <a href="{{url_for('blog.update',id=post['id']) }}">编辑</a>
    <a href="{{url_for('blog.delete',id=post['id']) }}" onclick="return confirm('确定删除？')">删除</a>
    {%endif%}
</div>

<hr>

<div class="comments">
    <!-- comment-send -->
    <form method="POST">
        <div class="comment-send ">
            <div class="comment-avatar">
                <img src="{{url_for('static',filename='pic/avatar.png')  }}" alt="testz">
            </div>
                <div class="comment-box">
                    <textarea name="comment_msg" cols="80" rows="5"></textarea>
                </div>
                <input type="hidden" name="form_category" value="comment_send">
                <button class="comment-submit">评论</button>
        </div>
    </form>
    <hr>
    <!-- comment-list -->
    <div class="comment-list">
        <ul>
            {%for comment in comments%}
            <li>
                [{{comment['username']}}] - {{comment['ctext']}}  
                <!-- --<a href="{-{url_for('blog.reply',postid=post['id'],userid=comment['userid'])}-}">回复</a> -->
                <a href="javascript:void(0);" onclick="handle_comment_reply('{{post.id}}','{{comment.userid}}',-1,'{{comment.username}}')">回复</a>
            </li>
            {%endfor%}

        </ul>
        <div class="comment-send ">
            <div class="comment-avatar">
                <img src="{{url_for('static',filename='pic/avatar.png')  }}" alt="testz">
            </div>
            <div class="comment-box">
                <textarea name="comment_msg" cols="80" rows="5" placeholder=""></textarea>
            </div>
            <input type="hidden" name="form_category" value="comment_reply">
            <button class="comment-submit ">评论</button>
        </div>
    </div>
</div>

{%endblock%}

{%block myjs%}
<script>
function handle_comment_reply(postid,userid,rootid,username){
    querystr = {
        "postid":postid,
        "userid":userid,
        "rootid":rootid
    }
    $(".comment-list .comment-send input").val(JSON.stringify(querystr))
    $(".comment-list .comment-box textarea").attr("placeholder","@ "+username||"Null")
}
$(".comment-list .comment-submit").click(function(){
    json = $(".comment-list .comment-send input").val()
    if(!json){
        return;
    }
    q = $.parseJSON(json)
    console.log(q.postid,q.userid,q.rootid);
    
})

</script>
{%endblock%}