{% extends 'base.html' %}

{% block title %}Ariticle {% endblock %}

{% block mycss %}
<link href="{{url_for('static',filename='blog_article.css')  }}" rel="stylesheet" >
{% endblock %}

{% block blog_title %}{{ post["title"] }}{% endblock %}

{% block blog_desc %}{% endblock %}


{% block blog_text %}
<div class="blog-post">
    <p>{{post['body']}}</p>
</div><!-- /.blog-post -->
<div class="blog-article-bottom">
    <span>posted @ {{post['created']}} &nbsp; {{post['username']}}</span> 
    &nbsp;
    <a href="{{url_for('blog.update',id=post['id']) }}">编辑</a>
    <a href="{{url_for('blog.delete',id=post['id']) }}">删除</a>
</div>
{%endblock%}