{% extends 'base.html' %}

{% block title %}Ariticle {% endblock %}

{% block mycss %}
<link href="{{url_for('static',filename='blog_article.css')  }}" rel="stylesheet" >
{% endblock %}

{% block blog_title %}{{ post["title"] }}{% endblock %}

{% block blog_desc %}{% endblock %}


{% block blog_text %}
<div class="blog-post">
    {{post['body']|safe}}
</div><!-- /.blog-post -->
<div class="blog-article-bottom">
    <span>posted @ {{post['created']}} &nbsp; {{post['username']}}</span> 
    &nbsp;
    {%if g.user and g.user['id'] == post['author_id']%}
    <a href="{{url_for('blog.update',id=post['id']) }}">编辑</a>
    <a href="{{url_for('blog.delete',id=post['id']) }}" onclick="return confirm('确定删除？')">删除</a>
    {%endif%}
</div>

<hr>

<div class="comments">
    <!-- comment-send -->
    <div class="comment-send">
        <div class="comment-avatar">
            <img src="{{url_for('static',filename='pic/avatar.png')  }}" alt="testz">
        </div>
        <form method="POST">
            <div class="comment-box">
                <textarea name="comment_msg" cols="80" rows="5"></textarea>
            </div>
            <input type="hidden" name="form_1" value="form_1">
            <button class="comment-submit">评论</button>
        </form>
    </div>
    <hr>
    <!-- comment-list -->
    <div class="comment-list">
        <ul>
            {%for comment in comments%}
            <li>
                [{{comment['userid']}}] - {{comment['ctext']}}
            </li>
            {%endfor%}

        </ul>
    </div>
</div>

{%endblock%}