{% extends 'base.html' %}
{% block title %}
New
{% endblock %}

{% block blog_title %}
{% if update %}
  Update your article
{% else %}
  Create your article
{%endif%}
{% endblock %}

{% block blog_desc %}
{% endblock %}

{% block blog_text %}
<form method="post">
  <div class="form-group">
    <label for="post-title">Titile</label>
    <input type="text" name="post_title" value="{{post['title'] if update else ''}}" class="form-control" id="post-title" placeholder="Post title">
  </div>
  <div class="form-group">
    <label for="postes-text">Post text</label>
    <textarea 
      class="form-control"
      name="post_text" 
      rows="20" 
      id="post-text" 
      placeholder="Post text"
    >{{post['body'] if update else ''}}</textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
