{% extends 'base.html' %}

{% block title %}
学习记录
{% endblock %}

{%block mycss%}
<link href="{{url_for('static',filename='blog_index.css')  }}" rel="stylesheet" >
{%endblock%}



{% block blog_title %}
  Welcome!
{% endblock %}

{% block blog_desc %}
this is my first blog
{% endblock %}


{% block blog_text %}
{% for post in posts %}


<div class="blog-articles">
  <!-- title -->
  <h3 class="blog-title"><a href="{{ url_for('blog.article',id=post['id']) }}">{{post['title']}}</a></h3>
  <!-- avatar -->
  <span class="blog-avatar">
    <a href="#">
      <img src="{{url_for('static',filename='pic/avatar.png')  }}" alt="test">
    </a>
  </span>
  <!-- intro -->
  <p class="blog-intro">{{ post['body']|ellipsis  }}</p>
  <!-- info -->
  <div class="blog-info">posted by liyang 2019.11.11</div>
</div>


<!-- <div class="list-group">
  <a href="{{ url_for('blog.article',id=post['id']) }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{post['title']}}</h4>
    <p class="list-group-item-text blog-index-textbody">{{ post['body']|ellipsis  }}</p>
  </a>
</div> -->
{% endfor %}
{% endblock %}


{%block myjs%}
<script src="{{url_for('static',filename='js/scrollreveal/scrollreveal.js')  }}"></script>
<script>
  ScrollReveal().reveal('.blog-main .blog-articles',{
    delay:100,
    reset: true,
    distance:'20px',
    easing: 'ease-in-out'
  })
</script>
{%endblock%}