{% extends 'base.html' %}

{% block title %}
Login 
{% endblock %}


{% block blog_text %}
<form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please Login!</h2>
    
    <label for="inputEmail" class="sr-only"></label>
    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Email address" >

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" >
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <a href="{{url_for('auth.register')}}">Register</a>
	{% for msg in get_flashed_messages() %}
		<div class="form-flash">{{msg}}</div>
	{% endfor %}
</form>

{% endblock %}
